<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>AwesomeEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <header class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to "AwesomeEvents", root_path, class: "navbar-brand mr-auto" %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- 追加 -->
		        <%= form_with url: '/auth/github', method: :post, local: true do %>
		          <%= button_tag type: :submit, class: "nav-link btn btn-link" do %>
		            GitHubでログイン
			        <% end %>
			      <% end %>
          </li>
        </ul>
      </div>
      <div class="container">
         <!-- 追加 -->
        <% if flash.notice %>
          <div class="alert alert-success">
            <%= flash.notice %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </header>
  </body>
</html>